body {
    margin: 0;
}
body.theme-blue {
    --main-text: #fff;
    --accent-bg: #e7f1ff;
}

/* Links */
a {
    color: #000;
}

/* Tables */
th {
    text-align: left;
}

/* Forms */
form input {
    width: 100%;
    box-sizing: border-box;
}

input + .error {
    color: red;
}

textarea{
    width: 100%;
}

/* Layout helper */
#table-wrapper {
    min-height: 280px;
}

/* PRINT STYLES */

@media print {

    nav,
    .btn,
    .no-print,
    .hide-on-print{
        display: none !important;
    }

    body {
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 6px;
    }

}